@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.product_title {
    /* display: flex; */
}

.toLeft {
    /* float: left; */
}

.capt {
    position: relative;
    margin-left: 10px;
    display: inline-block;
    /* float: right; */
    top: 5px;
    /*background-color: transparent;*/
    background-image:url('chrome-extension://__MSG_@@extension_id__/images/inventory_button.png');
    background-position: center;
    background-size: cover;
    height: 40px;
    width: 40px;
    animation: fromAbove .4s ease-out;
    cursor: pointer;
    /*filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, .3));*/
    /*filter: drop-shadow(2px 3px 6px #444);*/
}

.capt:hover {
    filter: drop-shadow(1px 2px 2px #555);
}

.capt:active {
    filter: none;
}

@keyframes fromAbove {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }

    80% {
        transform: translateY(.5rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
