.product_title {
    display: flex !important;
    flex-basis: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.dropshie_btn {
    flex-shrink: 0;
    /* align-self: flex-start; */
    margin-left: 10px;
    display: inline-block;
    background-image:url('chrome-extension://__MSG_@@extension_id__/images/inventory_button.png');
    background-position: center;
    background-size: cover;
    height: 40px;
    width: 40px;
    animation: fromAbove .4s ease-out;
    cursor: pointer;
}

.dropshie_btn:hover {
    filter: drop-shadow(1px 2px 2px #555);
}

.dropshie_btn:active {
    filter: none;
}

@keyframes fromAbove {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }

    80% {
        transform: translateY(.5rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

[tooltip] {
    position: relative;
    /* transform: translateY(50%); */
}

[tooltip]::before {
    /* animation: tooltipScale 1s ease-out;
    animation-fill-mode: forwards; */
    /* animation: tooltipScale 1s ease-out;
    transform-origin: bottom left; */
    content: "";
    position: absolute;
    top: -6px;
    left: 75%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: rgba(0, 0, 0, .5) transparent transparent transparent;
    z-index: 100;
}

[tooltip]::after {
    animation: tooltipScale .3s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 500ms;
    transform-origin: bottom left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    /* text-transform: uppercase; */
    letter-spacing: .5px;

    /* transform: translateX(-50%)   translateY(-100%); */
    content: attr(tooltip);
    text-emphasis: em;
    position: absolute;
    left: 60%;
    top: -66px;
    background: rgba(0,0,0,0.5);
    text-align: center;
    color: #fff;
    padding:12px 10px;
    font-size: 16px;
    min-width: 80px;
    border-radius: 5px;
    pointer-events: none; 
}

@keyframes tooltipScale {
    0% {
        opacity: 0;
        transform: scale(0, 0);

    }
    80% {
        transform: scale(1.1, 1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);

    }
}
