@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.product_title {
    /* position: relative; */
    display: flex !important;
    flex-basis: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.dropshie_btn {
    flex-shrink: 0;
    /* flex-basis: 0; */
    align-self: flex-start;
    /* position: relative; */
    margin-left: 10px;
    display: inline-block;
    /* top: 3px; */
    /* right: 0; */
    background-image:url('chrome-extension://__MSG_@@extension_id__/images/inventory_button.png');
    background-position: center;
    background-size: cover;
    height: 40px;
    width: 40px;
    animation: fromAbove .4s ease-out;
    cursor: pointer;
}

.dropshie_btn:hover {
    filter: drop-shadow(1px 2px 2px #555);
}

.dropshie_btn:active {
    filter: none;
}





@keyframes fromAbove {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }

    80% {
        transform: translateY(.5rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
